<h3>Kaewphitak's Menu</h3>

<ul class="nav nav-pills">
	<% Section.all.each do |section| %>
	  <li class="nav-item">
 
	    <%= link_to section.name, menu_path(section: section.name), class: "nav-link #{'active' if params[:section] == section.name}" %>

	  </li>
  <% end %>
</ul>

<ul class="nav nav-pills">
	<% Cuisine.all.each do |cuisine| %>
	  <li class="nav-item">
 
	    <%= link_to cuisine.name, menu_path(cuisine: cuisine.name), class: "nav-link #{'active' if params[:cuisine] == cuisine.name}" %>

	  </li>
  <% end %>
</ul>

<div class="card card-block" >
	<%= form_tag nil, method: 'get' do %>
	<%= hidden_field_tag :section, params[:section] %>
	<div class="form-inline">
		<%= select_tag :sort_column, options_for_select([['Name', 'name'],['Price', 'price']]), class: 'form-control' %>
		<%= select_tag :sort_direction, options_for_select([['Ascending', 'asc'], ['Descending', 'desc']]), class: "form-control" %>
		<% Cuisine.all.each do |cuisine| %>
			<%= select_tag :cuisine, options_for_select(cuisine.name), class: 'form-control' %>
			<% end %>
		<%= submit_tag "Sort", class: "btn btn-secondary" %>
</div>
	<% end %>
</div>


<!--  #I am trying to do the following for below: Instead of having drop down, you just click it and it orders it alphabetically, (default ascending) clicked again descending. Same with price... I don't like the user experience of having to change the drop down and submit. 

<ul class="nav nav-tabs">
  <li class="nav-item">
<%#    <%= link_to "Name", :sort => 'name' %>
  </li>
  <li class="nav-item">
<%#    <%= link_to "Price", :sort => 'price' %>
  </li>
<%#  <%= hidden_field :section, params[:section] %>  <%# how the fuck do you do this? <%# %> 
</ul>
-->


<% @food_items.in_groups_of(3) do |group| %>
	<div class="row">
		<% group.compact.each do |food_item| %>
			<div class="col-sm-4">
				<div class="card">
				  <%= image_tag food_item.image_url_or_default, alt: food_item.name %>
				  <div class="card-block">
				    <h4 class="card-title">
				    	<%= link_to food_item.name, food_item_path(food_item) %>
				    			  <!-- to display order cart or whatever -->
			  			<span class="tag tag-info"><%= food_item.orders.size %></span>
			 			</h4>
				    <p class="card-text"><%= food_item.description %></p>
				  </div>

				  <div class="card">
				  	<%= form_for OrderFoodItem.new do |f| %>
				  	<div class="form-inline">
					  	<div class="form-group">
					  		<%= f.label :quantity %>
					  		<%= f.number_field :quantity, class: 'form-control', class: 'col-md-3'%>
					  		<%= f.hidden_field :food_item_id, value: food_item.id %>
					  	</div>
				 			<%= submit_tag "Add to Order", class: 'btn btn-secondary' %> 
				  	</div>
				  	<% end %>
				  </div>
				</div>
			</div>
	  <% end %>
	</div>
<% end %>

<% if false %>
<!---
<%#<% if @section %>
<%#	<% @section.food_items.each do |food| %>
		<h4><%= food.name %></h4>
		<p><%= food.description %></p>
<%#	<% end %>
<%# <% end %>
=end
-->
<% end %>

