<h3>Kaewphitak's Menu</h3>

<ul class="nav nav-pills">
	<% Section.all.each do |section| %>
	  <li class="nav-item">
	    <%= link_to section.name, menu_path(section: section.name), class: "nav-link #{'active' if params[:section] == section.name}" %>
	  </li>
  <% end %>
</ul>

<% @food_items.in_groups_of(3) do |group| %>
	<div class="row">
		<% group.compact.each do |food_item| %>
			<div class="col-sm-4">
				<div class="card">
				  <%= image_tag food_item.image_url_or_default, alt: food_item.name %>
				  <div class="card-block">
				    <h4 class="card-title"><%= food_item.name %></h4>
				    <p class="card-text"><%= food_item.description %></p>
				  </div>
				  <div class="card-block">
				    <a href="#" class="card-link btn btn-danger">Order</a>
				  </div>
				</div>
			</div>
	  <% end %>
	</div>
<% end %>

<!---
<% if @section %>
	<% @section.food_items.each do |food| %>
		<h4><%= food.name %></h4>
		<p><%= food.description %></p>
	<% end %>
<% end %>
=end
-->
