<p id="notice"><%= notice %></p>

<div class="inline">

  <div>
    <%= image_tag @food_item.image_url_or_default, alt: @food_item.name %>
  <div>

  <div>
  <p>
    <strong>Name:</strong>
    <%= @food_item.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @food_item.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= @food_item.price %>
  </p>

  <p>
    <strong>Section:</strong>
    <%= @food_item.section.name %>
  </p>

    <p>
    <strong>Cuisine:</strong>
    <%= @food_item.cuisine_name %>
  </p>
  
  </div> 
  <%= form_for OrderFoodItem.new do |f| %>
  <div class="form-inline">
    <div class="form-group">
      <%= f.label :quantity %>
      <%= f.number_field :quantity, class: 'form-control', class: 'col-md-3'%>
      <%= f.hidden_field :food_item_id, value: @food_item.id %>
    </div>
    <%= submit_tag "Add to Order", class: 'btn btn-secondary' %> 
  </div>
  <% end %>


<div>     


<%= link_to 'Edit', edit_food_item_path(@food_item), class: "btn btn-secondary btn-sm" %>
<%= link_to 'Back', food_items_path, class: "btn btn-secondary btn-sm" %>
<%= link_to 'Back to Menu', menu_path, class: "btn btn-info"%>  
